
<section id="menu"> <!-- Menu Section Start -->
    <div class="item">
        <a href="/section1">
        <img src="{{ STATIC_URL }}thumbs/events.png" alt="image 1"></a>
        <h3>Title</h3><!--Title-->
        <p>Caption</p><!--Category-->
    </div><!--/item-->

    <div class="item">
        <a href="/section2">
            <img src="{{ STATIC_URL }}thumbs/keywords.jpg" alt="image 2"></a>
    	<h3>Title</h3><!--Title-->
        <p>Caption</p><!--Category-->
    </div><!--/item-->

    <div class="item">
    	<a href="/where"><img src="{{ STATIC_URL }}thumbs/brands.jpg" alt="image 3"></a><!-- Image must be 400px by 300px -->
    	<h3>Title</h3><!--Title-->
        <p>Caption</p><!--Category-->
    </div><!--/item-->

    <div class="item">
        <a href="/topusers"><img src="{{ STATIC_URL }}thumbs/search.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
    	<h3>Title</h3><!--Title-->
        <p>Caption</p><!--Category-->
    </div><!--/item-->

    <div class="item">
    	<a href="/news"><img src="{{ STATIC_URL }}thumbs/socialapi.jpg" alt="image 3"></a><!-- Image must be 400px by 300px -->
    	<h3>Title</h3><!--Title-->
        <p>Caption</p><!--Category-->
    </div><!--/item-->
</section>
